{% extends 'base.html' %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show">
    <div class="card-body">
    {% for message in messages %}
        <div class="card-title">{{message}} </div>
    {% endfor %}
    </div>
</div> 
{% endif %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>
                Book an appointment
            </h3>
            <p class="blue-text">Use the following form to contact us and request an appointment..</p>
            <div class="appointmentcard">
                <form method="post" id="appointmentForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
                
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script>
                    $("#id_teacher").change(function () {
                        const url = $("#appointmentForm"); 
                        const teacherId = $(this).val();  // get the selected teacher ID from the HTML input
                
                        $.ajax({                       // initialize an AJAX request
                            url: url,                    
                            data: {
                                'teacher_id': teacherId      
                            },
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock content %}