{% extends 'base.html' %}
{% load static %}
{% block cta %}
{% block content %}
<!-- Mask & flexbox options-->
<div class="mask rgba-gradient d-flex justify-content-center align-items-center hero-img">
  <!-- Content -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="homepage-content col-md-6 white-text text-center text-md-center mt-xl-5 mb-5 card wow img-fluid animated fadeIn" data-wow-delay="0.3s">
        <h2 class="h2-responsive font-weight-bold mt-sm-3">Parent Teacher Consultation App</h2>
        <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</div>
<!-- Mask & flexbox options-->
</div>
{% endblock content %}  
{% endblock cta %}

