{% extends 'base.html' %}
{% load static %}
{% block cta %}
{% block messages %}
{% if messages %}
  <div class="alert alert-warning alert-dismissible fade show">
    <div class="card-body">
      {% for message in messages %}
        <div class="card-title">{{message}} </div>
      {% endfor %}
    </div>
  </div> 
{% endif %}

{% endblock %}
{% block content %}
  <div class="container hero">
    <div class="row">
        <div class="maintext col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>Parent Teacher Consultation App</h1>
            <p> Lorem Ipsum</p>
            <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
        </div>
    </div>
  </div>
{% endblock content %}  
{% endblock cta %}

