{% extends 'base.html' %}
{% load static %}
{% block cta %}
{% block messages %}
{% if messages %}
  <div class="alert alert-warning alert-dismissible fade show">
    <div class="card-body">
      {% for message in messages %}
        <div class="card-title">{{message}} </div>
      {% endfor %}
    </div>
  </div> 
{% endif %}

{% endblock %}
{% block content %}
<!-- Mask & flexbox options-->
<div class="mask rgba-gradient d-flex justify-content-center align-items-center hero-img">
  <!-- Content -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="homepage-content col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
        <h2 class="h2-responsive font-weight-bold mt-sm-5">Parent Teacher Consultation App</h2>
        <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</div>
<!-- Mask & flexbox options-->
</div>
{% endblock content %}  
{% endblock cta %}

