{% extends 'base.html' %}

{% block content %}

<div class="container-fluid px-1 py-5 mx-auto manage-background">
  <div class="col-12 text-center mt-4 mb-4">
      <h3>
        Manage appointments
      </h3>
  </div>
  <div class="row d-flex justify-content-center">
  {% for app in appointments %}
  <div class="col-lg-3">
      <div class="card card-margin">
          <div class="card-header no-border">
            <p class="card-title">Parent: {{app.parent_name}}</p>
          </div>
          <div class="card-header no-border">
            <p class="card-title">Teacher: {{app.teacher}}</p>
          </div> 
          <div class="card-header no-border">
            <p class="card-title">Child: {{app.child_name}}</p>
          </div>
          <div class="card-body pt-0">
              <div class="widget-49">
                  <div class="widget-49-title-wrapper">
                      <div class="widget-49-date-primary">
                          <span class="widget-49-date-day">{{app.date|date:"d"}}</span>
                          <span class="widget-49-date-month">{{app.date|date:"M"}}</span>
                      </div>
                      <div class="widget-49-meeting-info">
                        <span class="widget-49-pro-title">{{app.get_time_display}}</span>
                        <span class="widget-49-pro-title">{{app.email}}</span>
                        <span class="widget-49-meeting-time">{{app.phone}}</span>
                      </div>
                  </div>
                  <div class="widget-49-meeting-points">
                      <span>{{app.request}}</span>
                  </div>
                  <hr class="w-100">
                  {% if app.accepted == False %}
                  <form method="POST" action="{% url 'manage' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <input type="date" name="date" class="form-control mb-2" 
                            placeholder="dd-mm-yyyy" value=""
                            min="1997-01-01" max="2030-12-31"> -->
                        <input hidden="true" name="appointment-id" value="{{app.id}}">
                        <input class="btn-block btn-primary form-control" type="submit" value="Accept">
                    </div>
                  </form>
                  {% else %}
                  <div class="widget-49-meeting-points">
                    <span class="badge badge-success"><h6>Appointment Confirmed</h6></span>
                    <div><br></div>
                  </div>
                  {% endif %}
                  <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#modal-{{ app.id }}">Delete</a>
                  <!-- Delete Modal -->
                  <div id="modal-{{ app.id }}" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Delete Appointment?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        <p>Are you sure you want to delete this appointment?</p>
                        <p>This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="{% url 'delete' app.id %}" type="button" class="btn btn-primary">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
  </div>
  {% if is_paginated %}
  <div class="wrapper">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.prebious_page_number}}">Previous</a></li>
              {% endif %}
              {% for number in page_obj.paginator.page_range %}
              <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.prebious_page_number}}">Next</a></li>
              {% endif %}
          </ul>
      </nav>
  </div>
  {% endif %}
</div>
{% endblock content %}